.row {
    border: 1px solid green;
    width: 408px;
    height: 40px;
}

.row_item {
    border: 1px solid blue;
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}