body {
    background-color: lightblue;
    min-width: 400px;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

div {
    border: 1px solid blue;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    text-align: center;
    font-weight: normal;
}

.header {
    background-color: chartreuse;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
}

.sidebar {
    max-width: 150px;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar_left {
    background-color: lightcyan;
    float: left;
    margin-right: 10px;
}

.sidebar_right {
    background-color: lightpink;
    float: right;
    margin-left: 10px;
}

.container {
    background-color: lightgray;
    text-align: justify;
}

.footer {
    background-color: lightseagreen;
    margin-top: 10px;
    font-weight: bold;
}