* {
    border: 1px solid;
}

body {
    margin: 0;
    padding: 0;
}

.table {
    display: table;
    width: 400px;
    height: auto;
    _border-spacing: 10px;
}

.row {
    display: table-row;
    _width: 400px; /* Расчет автоматический */
}

.cell {
    display: table-cell;
    _width: 100px; /* Расчет автоматический */
    height: 40px;
    text-align: center;
    vertical-align: middle;
}