* {
    border: 1px solid;
}

body {
    margin: 0;
    padding: 0;
}

.center {
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

span {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

ol {
    margin-top: 20px;
}

li {
    margin: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    margin-right: 35px;
}